# 0.0 IMPORTS

In [1]:
import pandas as pd

## 0.1 Helper Functions

## 0.2 Loading Data

In [6]:
!dir cd data

 O volume na unidade C nÆo tem nome.
 O N£mero de S‚rie do Volume ‚ 6AE3-1BB7

 Pasta de C:\Users\AMD\repos\house_rocket


 Pasta de C:\Users\AMD\repos\house_rocket\data

28/01/2022  10:45    <DIR>          .
28/01/2022  10:45    <DIR>          ..
19/09/2019  16:52         2.515.206 kc_house_data.csv
27/01/2022  16:57           798.275 kc_house_data.csv (1).zip
               2 arquivo(s)      3.313.481 bytes
               2 pasta(s)   343.550.357.504 bytes dispon¡veis

Arquivo nÆo encontrado

In [9]:
df_raw = pd.read_csv('data/kc_house_data.csv')

In [10]:
df_raw

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

# 1.0 Data Description

## 1.1 Rename Columns

##

##